.image_bounded{
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background: var(--cf);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    height:200px;
    /* border: var(--b1); */

}