.image_bounded{
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background: var(--cf);
    border-bottom-right-radius:10px;
    height:200px;
    /* border: var(--b1); */

}